*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 12px;
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.hero-img {
  width: 100%;
}

svg {
  border-radius: 16px;
}

.hero-content {
  width: 100%;
  max-width: 300px;
}

.hero-highlight {
  background-color: hsl(47, 88%, 63%);
  font-weight: 800;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 12px;
}
.published-date {
  margin-top: 16px;
  margin-bottom: 12px;
  font-size: 0.8rem;
  font-weight: 600;
}

.hero-title {
  font-weight: 800;
  font-size: 1.3rem;
}
.hero-description {
  margin-bottom: 12px;
  margin-top: 12px;
  font-size: 0.8rem;
  color: hsl(0, 0%, 50%);
}
img {
  height: 100px;
}
.hero-profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

/*Mobile View*/
@media (max-width: 600px) {
  .card {
    width: 80%;
  }
}
